h1{
    color: rgb(0, 0, 0);
    font-family: monospace;
    font-size: 550%;
    text-align: center;
}

h2{
    color: rgb(0, 0, 0);
    font-family: monospace;
    font-size: 200%;
    text-align: center;
}

hr{
    border-color: rgb(0, 0, 0);
    border-block-width: 2px;
    border-style: solid;
}

p{
    display: inline-block;
    flex: 1;
    font-family: monospace;
    font-size: 135%;
    padding: 2%;
    text-align: left;
    }

td{
    background-color: rgb(200, 135, 5);
    border-style: solid;
    padding: 1%;
    vertical-align: text-top;
}

th{
    background-color: rgb(60, 90, 70);
    border-style: solid;
    font-family: monospace;
    font-size: 135%;
    padding: 1%
}



.externalLink{
    background-color: rgb(200, 135, 5);
    border-style: solid;
    color: rgb(0, 0, 0);
    display: inline-block;
    font-family: monospace;
    font-size: 250%;
    padding: 1%;
    text-decoration: none;
}

.navLink{
    background-color: rgb(60, 90, 70);
    color: rgb(0, 0, 0);
    display: table-cell;
    font-family: monospace;
    font-size: 150%;
    padding: 1%;
    text-decoration: none;
    width: auto;
}

.projectLink{
    background-color: rgb(60, 90, 70);
    border-style: solid;
    color: rgb(0, 0, 0);
    display: inline-block;
    font-family: monospace;
    font-size: 150%;
    padding: 2%;
    text-decoration: none;
}

.projectHeader{
    background-color: rgb(60, 90, 70);
    border-bottom-style: solid;
    color: rgb(0, 0, 0);
    font-family: monospace;
    font-size: 150%;
    margin: auto;
    padding: 1%;
    width: 70%;
}

.container01{
    background-color: rgb(155, 65, 50);
    border-style: solid;
    justify-content: center;
    margin:auto;
    text-align: center;
    width: 70%;
}

.container02{
    background-color: rgb(200, 135, 5);
    border-style: solid;
    display: flex;
    flex-direction: row;
    margin: auto;
    padding: 1%;
    width: 68%;
}

.imgClass01{
    align-self: center;
    border-style: solid;
    flex: 1;
    margin: auto;
    min-width: 100px;
    max-width: 400px;
    width: auto;
}

.itemHeader01{
    border-bottom: solid;
    color: rgb(0, 0, 0);
    font-family: monospace;
    font-size: 200%;
    padding: .5%;
}

.sectionHeader{
    color: rgb(0, 0, 0);
    font-family: monospace;
    font-size: 200%;
    padding: .5%;

}

.skillsTable{
    border-color: rgb(0, 0, 0);
    margin: auto;
    border-collapse: collapse;
    table-layout: fixed;
    width: 70%;
}

@media (max-width:1400px){
    .container02{
        flex-direction: column;
    }
}