h1{
    color: #ffffff;
    font-family: Tahoma;
    font-size: 450%;
    text-align: center;
}

h2{
    color: #ffffff;
    font-family: Tahoma;
    font-size: 150%;
    text-align: center;
}

hr{
    border-color: #ffffff;
    border-block-width: 2px;
    border-style: solid;
}

li{
    color: #ffffff;
    font-family:Tahoma;
    font-size: 150%;
    margin-left: 5%;
    margin-right: 5%;
}

p{
    color: #ffffff;
    font-family: Tahoma;
    font-size: 150%;
    margin-left: 5%;
    margin-right: 5%;
}

th{
    background-color: #588eb3;
    border-style: solid;
    color: #ffffff;
    font-size: 300%;
    font-family: monospace;
}

.aClass01{
    background-color: #588eb3;
    border-style: solid;
    color: #ffffff;
    display: block;
    font-family: monospace;
    font-size: 250%;
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    text-decoration: none;
}

.aClass02{
    background-color: #588eb3;
    color: #ffffff;
    display: block;
    font-family: monospace;
    font-size: 250%;
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    text-decoration: none;
}

.buttonClass01{
    background-color: #588eb3;
    border-style: solid;
    border-color: #ffffff;
    color: #ffffff;
    font-family: monospace;
    font-size: 150%;
    width: 75%;
    height: 75px
}

.buttonClass02{
    background-color: #588eb3;
    border-style: solid;
    border-color:#ffffff;
    color: #ffffff;
    font-family: monospace;
    font-size: 150%;
}

.divClass01{
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    width: 90%;
    /* height: 75%; */
}

.divClass02{
    background-color: rgb(197, 116, 116);
    border-color: #ffffff;
    border-style: dashed;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    width: 85%;
}

.hyperlinkClass01{
    color: #ffffff;
    font-family:monospace;
    font-size: 150%;
    text-align: center;
}

.tableClass01{
    margin-left: auto;
    margin-right: auto;
    width: 90%;
}

.tableClass02{
    margin-left: auto;
    margin-right: auto;
    border-style: solid;
    border-color: #ffffff;
    border-collapse: collapse;
    table-layout: fixed;
    width: 90%;
}

.tableClass03{
    margin-left: auto;
    margin-right: auto;
    border-bottom-style: solid;
    border-left-style: solid;
    border-right-style: solid;
    border-color: #ffffff;
    border-collapse: collapse;
    table-layout: fixed;
    width: 90%;

}

.tdClass01{
    border-top-style: none;
    border-color: #ffffff;
    border-left-style: solid;
    border-right-style: solid;
    text-align: center;
}

.thClass01{
    font-family: sans-serif;
    font-size: 400%;
    background-color: rgb(197, 116, 116);
}
